<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resource Haven</title>

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="../styles/collections_index.css" type="text/css" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <main>

    <article>
      <!-- START - TRENDING ARTICLE -->
      <section class="article-titles">
        <span>Trending Now</span>
      </section>
      <section class="article-bodies">
        <% for (const trend of trendingResources) { %>
          <a style="text-decoration: none; color: inherit" href="/collections/<%= trend.id %>">
            <div class="card_body">
              <div class="trending-background"></div>
              <div class="card-details">
                <div class="card_title">
                  <span>
                    <%= trend.title %>
                  </span>
                </div>
                <div class="card-description">
                  <%= trend.description %>
                </div>
                <div class="publisher-details">
                  <span>
                    <%= trend.name %>
                  </span>
                  <span>
                    <%= trend['public_date_created'] %>
                  </span>
                </div>
              </div>


            </div> <!-- </div class="card_body"> -->
          </a>
          <% } %>
      </section> <!-- </section class="article-bodies"> -->
    </article> <!-- END - TRENDING ARTICLE -->

    <article>
      <!-- START - VIDEOS ARTICLE -->
      <section class="article-titles">
        <span>Videos</span>
      </section>
      <section class="article-bodies">
        <% for (const video of videoResources) { %>
          <a style="text-decoration: none; color: inherit" href="/collections/<%= video.id %>">
            <div class="card_body">
              <div class="videos-background"></div>
              <div class="card-details">
                <div class="card_title">
                  <span>
                    <%= video.title %>
                  </span>
                </div>
                <div class="card-description">
                  <%= video.description %>
                </div>
                <div class="publisher-details">
                  <span>
                    <%= video.name %>
                  </span>
                  <span>
                    <%= video['public_date_created'] %>
                  </span>
                </div>
              </div>
            </div> <!-- </div class="card_body"> -->
          </a>
          <% } %>
      </section> <!-- </section class="article-bodies"> -->
    </article> <!-- END - VIDEOS ARTICLE -->

    <article>
      <!-- START - BLOGS ARTICLE -->
      <section class="article-titles">
        <span>Blogs</span>
      </section>
      <section class="article-bodies">
        <% for (const blog of blogResources) { %>
          <a style="text-decoration: none; color: inherit" href="/collections/<%= blog.id %>">
            <div class="card_body">
              <div class="blogs-background"></div>
              <div class="card-details">
                <div class="card_title">
                  <span>
                    <%= blog.title %>
                  </span>
                </div>
                <div class="card-description">
                  <%= blog.description %>
                </div>
                <div class="publisher-details">
                  <span>
                    <%= blog.name %>
                  </span>
                  <span>
                    <%= blog['public_date_created'] %>
                  </span>
                </div>
              </div>
            </div> <!-- </div class="card_body"> -->
          </a>
          <% } %>
      </section> <!-- </section class="article-bodies"> -->
    </article> <!-- END - BLOGS ARTICLE -->

    <article>
      <!-- START - TUTORIAL ARTICLE -->
      <section class="article-titles">
        <span>Tutorials</span>
      </section>
      <section class="article-bodies">
        <% for (const tutorial of tutorialResources) { %>
          <a style="text-decoration: none; color: inherit" href="/collections/<%= tutorial.id %>">
            <div class="card_body">
              <div class="tutorials-background"></div>
              <div class="card-details">
                <div class="card_title">
                  <span>
                    <%= tutorial.title %>
                  </span>
                </div>
                <div class="card-description">
                  <%= tutorial.description %>
                </div>
                <div class="publisher-details">
                  <span>
                    <%= tutorial.name %>
                  </span>
                  <span>
                    <%= tutorial['public_date_created'] %>
                  </span>
                </div>
              </div>
            </div> <!-- </div class="card_body"> -->
          </a>
          <% } %>
      </section> <!-- </section class="article-bodies"> -->
    </article> <!-- END - TUTORIAL ARTICLE -->

    <article>
      <!-- START - NEWS ARTICLE -->
      <section class="article-titles">
        <span>News</span>
      </section>
      <section class="article-bodies">

        <% for (const news of newsResources) { %>
          <a style="text-decoration: none; color: inherit" href="/collections/<%= news.id %>">
            <div class="card_body">
              <div class="news-background"></div>
              <div class="card-details">
                <div class="card_title">
                  <span>
                    <%= news.title %>
                  </span>
                </div>
                <div class="card-description">
                  <%= news.description %>
                </div>
                <div class="publisher-details">
                  <span>
                    <%= news.name %>
                  </span>
                  <span>
                    <%= news['public_date_created'] %>
                  </span>
                </div>
              </div>
            </div> <!-- </div class="card_body"> -->
          </a>
          <% } %>

      </section> <!-- </section class="article-bodies"> -->
    </article> <!-- END - NEWS ARTICLE -->

  </main>
</body>

</html>
