<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    type="text/css">
  <!-- CSS stylings -->
  <link rel="stylesheet" href="/styles/search.css" type="text/css" />

  <title>Search Results</title>
</head>

<body>
  <%- include('partials/_headerWithoutSearch') %>
  <main>
    <form class="searchBar" action="/search" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="search-phrase" placeholder="Search" aria-label="Search">
      <button class="btn btn-light" type="submit">Search</button>
    </form>
    <h2>Search Results: </h2>
    <div class="resultsContainer">
      <% for (const result of searchResults) { %>
        <article class="result">
          <header class="resultHeader">
            <span>Posted by <%= result.username %> | </span>
            <span>
              <%= result['date_created'] %>
                <%= result['date_modified'] ? ` (Edited: ${result['date_modified']})`: '' %>
            </span>
          </header>
          <section class="resultMain">
            <div class="mainLeft">
              <a href="/collections/<%= result.id %>">
                <h4 class="resultTitle">
                  <%= result.title %>
                </h4>
              </a>
              <a class="resultURL" href="<%= result.url %>">
                <%= result.url%>
              </a>
            </div>
            <div class="mainRight" class="rating">
              <i id="star" class="fas fa-star"></i>
              <% if(result.avgrating) { %>
                <p>
                  <%= result.avgrating %>
                </p>
                <% } else { %>
                  <p>N/A</p>
              <% } %>
            </div>
          </section>
        </article>
        <% } %>
    </div>
  </main>
</body>

</html>
