<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User's Profile</title>

  <link rel="stylesheet" href="/styles/user_index.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <%- include('partials/_header') %>

    <div class="container user-profile">
      <div class="profile-img">
      </div>
      <div class="user-name">
        <h2>
          <%= name %>
        </h2>
      </div>
    </div>

    <section>
      <div class="recent-likes">
        <h2>Recent Likes</h2>
      </div>
      <div class="card-deck">
        <div class="row row-cols-1 row-cols-md-3">
          <% for (const like of likesResourceID) { %>
            <div class="col">
              <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= like.title %>
                  </h5>
                  <p class="card-text">
                    <%= like.description %>
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    <%= like.date_created %>
                  </small>
                  <a href="/collections/<%= like.id %>/update">
                    <button type="submit" class="btn btn-outline-light">Edit</button>
                  </a>
                </div>
              </div>
            </div>
            <% } %>
        </div>
      </div>






      <div class="user-collection">
        <h2>User's Collection</h2>
      </div>
      <div class="card-deck" id="resources-deck">
        <div class="row row-cols-1 row-cols-md-3">
          <% for (const resource of resourceID) { %>
            <div class="col">
              <div class="card text-white bg-dark mb-2">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= resource.title %>
                  </h5>
                  <p class="card-text">
                    <%= resource.description %>
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    Created on <%= resource.date_created %>
                  </small>
                  <a href="/collections/<%= resource.id %>/update">
                    <button type="submit" class="btn btn-outline-light">Edit</button>
                  </a>
                </div>
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </section>

</body>

</html>
