<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    type="text/css">
  <!-- CSS stylings -->
  <link rel="stylesheet" href="/styles/search.css" type="text/css" />

  <title>Search Results</title>
</head>

<body>
  <!-- Nav bar without search: -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A7C7E7">
    <a class="navbar-brand" href="/">Resource Haven</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collections">My Collections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collections/new">Add to Collection</a>
        </li>
      </ul>
      <form action="/login" method="GET" style="margin: auto 5px;">
        <button type="submit" class="btn btn-outline-secondary">Login</button>
      </form>
      <form action="/logout" method="POST" style="margin: auto 5px;">
        <button type="submit" class="btn btn-outline-secondary">Logout</button>
      </form>
      <form action="/register" method="GET">
        <button type="submit" class="btn btn-outline-primary">Register</button>
      </form>
    </div>
  </nav>

  <main>
    <form class="searchBar" action="/search" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="search-phrase" placeholder="Search" aria-label="Search">
      <button class="btn btn-light" type="submit">Search</button>
    </form>
    <h2>Search Results: </h2>
    <div class="resultsContainer">
      <% for (const result of searchResults) { %>
        <article class="result">
          <header class="resultHeader">
            <span>Posted by <%= result.username %> | </span>
            <span>
              <%= result['date_created'] %>
                <%= result['date_modified'] ? ` (Edited: ${result['date_modified']})`: '' %>
            </span>
          </header>
          <section class="resultMain">
            <div class="mainLeft">
              <a href="/collections/<%= result.id %>">
                <h4 class="resultTitle">
                  <%= result.title %>
                </h4>
              </a>
              <a class="resultURL" href="<%= result.url %>">
                <%= result.url%>
              </a>
            </div>
            <div class="mainRight" class="rating">
              <i id="star" class="fas fa-star"></i>
              <p>
                <%= result.avgrating %>
              </p>
            </div>
          </section>
        </article>
        <% } %>
    </div>
  </main>
</body>

</html>
