<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User's Profile</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/user_index.css" type="text/css" />
</head>

<body>
  <%- include('partials/_header') %>

    <div class="container user-profile">
      <div class="profile-img">
        <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/002irm_ons_inl_06_0.jpg" alt="user-img" />
      </div>
      <div class="user-name">
        <h2>
          <%= username %>
        </h2>
      </div>
    </div>

    <section>
      <div class="recent-likes">
        <h2>Recent Likes</h2>
      </div>
      <div class="card-deck">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% for (const like of likesResourceID) { %>
            <div class="col">
              <div class="card text-white bg-dark mb-3">
                <div class="card-body">
                  <a href="<%= like.url %>">
                    <h6 class="card-title">
                      <%= like.title %>
                    </h6>
                  </a>
                  <p class="card-text">
                    <%= like.description %>
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    <%= like.date_created %>
                  </small>
                </div>
              </div>
            </div>
            <% } %>
        </div>
      </div>






      <div class="user-collection">
        <h2>User's Collection</h2>
      </div>
      <div class="card-deck">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% for (const resource of resources) { %>
            <div class="col">
              <div class="card text-white bg-dark mb-2">
                <div class="card-body">
                  <a href="<%= resource.url %>">
                    <h6 class="card-title">
                      <%= resource.title %>
                    </h6>
                  </a>
                  <p class="card-text">
                    <%= resource.description %>
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    Created on <%= resource.date_created %>
                  </small>
                  <a href="/collections/<%= resourceID %>/update">
                    <button type="submit" class="btn btn-outline-light">Edit</button>
                  </a>
                </div>
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </section>

</body>

</html>
